.welcome {
  height: 100vh;
  color: white;
  position: relative;

  .application {
    width: 60px;
    transform: translate3d(0, 0, 0);
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: float-translate;
  }

  @for $i from 1 through 12 {
    .app-#{$i} {
      animation-delay: 0.5s * $i;
    }
  }

  .app-wrapper-1,
  .app-wrapper-2,
  .app-wrapper-3,
  .app-wrapper-4 {
    display: flex;
    justify-content: space-evenly;

    >svg {
      padding: 10px 20px;
    }
  }

  .app-wrapper-3 {
    padding: 0 30px;
    margin-bottom: 60px;
  }

  &-header {
    font-size: 80px;
    text-align: center;
    margin-bottom: 36px;
  }

  &-description {
    font-size: 36px;
    color: #ABAAAA;
    text-align: center;
    margin-bottom: 36px;
  }
}

@keyframes float-translate {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, 15px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@media (max-width: 1200px) {
  .welcome{
    &-header {
      font-size: 60px;
    }

    &-description {
      font-size: 30px;
    }
  }

  .app-wrapper-1,
  .app-wrapper-2,
  .app-wrapper-3,
  .app-wrapper-4 {
    >svg {
      padding: 14px 14px;
      width: 48px;
      height: 48px;
    }
  }
}

@media (max-width: 1024px) {
  .welcome{
    &-header {
      font-size: 50px;
    }

    &-description {
      font-size: 25px;
    }
  }

  .app-wrapper-1,
  .app-wrapper-2,
  .app-wrapper-3,
  .app-wrapper-4 {
    >svg {
      width: 52px;
      height: 52px;
    }
  }
}

@media (max-width: 900px) {
  .welcome{
    &-header {
      font-size: 45px;
    }

    &-description {
      font-size: 22px;
    }
  }
}

@media (max-width: 768px) {
  .welcome{
    &-header {
      font-size: 40px;
    }

    &-description {
      font-size: 20px;
    }

  .app-wrapper-1,
  .app-wrapper-2,
  .app-wrapper-3,
  .app-wrapper-4 {
    >svg {
      width: 34px;
      height: 34px;
    }
  }
  }
}

@media (max-width: 600px) {
  .welcome{
    &-header {
      font-size: 35px;
    }

    &-description {
      font-size: 18px;
    }
  }
}

@media (max-width: 480px) {
  .welcome{
    &-header {
      font-size: 30px;
    }

    &-description {
      font-size: 16px;
    }

    .app-wrapper-1,
    .app-wrapper-2,
    .app-wrapper-3,
    .app-wrapper-4 {
      >svg {
        padding: 8px;
      }
    } 
  }
}

@media (max-width: 320px) {
  .welcome{
    &-header {
      font-size: 25px;
    }

    &-description {
      font-size: 14px;
    }
  }
}