.card {
  width: 300px;
  height: 250px;
  background: radial-gradient(circle at top, rgba(41, 41, 46, 1) 0%, rgba(25, 25, 28, 1) 100%);
  padding: 24px;
  border-radius: $spacer-4;
  transition: 0.3s;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo {
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $gray-5;
      }
    }

    .name {
      margin-left: 10px;
      font-size: 20px;
      font-weight: bold;
      color: $gray-3;
    }
  }

  .body {
    color: $gray-1;
    flex: 1;
    margin-top: 16px;
    line-height: 140%;
    user-select: none;
  }

  .categories {
    margin-top: $spacer-4;
    display: flex;
    flex-wrap: wrap;

    >* {
      margin-right: $spacer-2;
      margin-bottom: $spacer-2;
    }
  }

  &:hover {
    background-color: $gray-5;
  }
}