.search-wrapper {
  display: flex;
  border-bottom: 1px solid $white;
  align-items: center;
  background: rgba(83, 83, 83, 0.25);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 24px;
  padding: 20px;
  position: relative;
  justify-content: center;
  width: 240px;
  align-items: center;

  input {
    background-color: transparent;
    border: none;
    color: $white;
    outline: none;
    font-size: 20px;
    margin: 0 12px 0 12px;
    width: 100%;

    &::placeholder {
      color: $white;
    }
  }

  .search-icon {
    transform: rotate(90deg);
    fill: $white;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .close-icon {
    fill: $white;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}